<button class=""><slot /></button>

<style>
  button {
    @apply py-3 px-6 transition rounded-lg  text-black font-bold;
    background-image: url('bg.svg');
    background-size: cover;
  }

  button:hover {
    @apply ring-secondary ring-2 ring-offset-2 ring-offset-black;
  }
</style>
