<button class=""><slot /></button>

<style>
  button {
    @apply py-3 px-6 transition rounded-lg bg-gradient-to-br from-violet-500 via-cyan-300 to-green-400 text-black font-bold;
  }

  button:hover {
    @apply ring-secondary ring-2 ring-offset-2 ring-offset-black;
  }
</style>
