<main
  class="flex items-center justify-center flex-col bg-dark h-screen max-h-screen w-full"
>
  <img src="/favicon.svg" width="150px" alt="logo" />
  <h1 class="text-white font-bold text-4xl">
    <span class="text-primary">404:</span> Not found
  </h1>
</main>
