---
import Layout from "layouts/Layout.astro";
import AboutSection from "sections/AboutSection";
import ContactSection from "sections/ContactSection";
import HomeSection from "sections/HomeSection.astro";
import ProjectsSection from "sections/ProjectsSection";
---

<Layout title="Filip Ivanovic">
  <div
    class="2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl mx-auto"
  >
    <HomeSection />

    <ProjectsSection client:visible />

    <AboutSection client:visible />

    <ContactSection client:visible />
  </div>
</Layout>
