---
import Layout from "layouts/Layout.astro";
import HomeSection from "sections/HomeSection.astro";
import ProjectsSection from "sections/ProjectsSection";
---

<Layout title="Filip Ivanovic">
  <div
    class="2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl mx-auto"
  >
    <HomeSection />

    <ProjectsSection client:load />

    <div class="h-full flex flex-col justify-center items-center gap-10">
      <h1 class="section-title text-5xl font-bold z-0">About</h1>
      <div class="w-full h-screen bg-red-500"></div>
    </div>
  </div>
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
</script>
