---
const props = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<title>{props.title}</title>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/Avatar.png" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com/" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
  rel="stylesheet"
/>

<ViewTransitions />
