---
import PrimaryButton from "components/buttons/PrimaryButton";
import NavButton from "components/buttons/NavButton";
import MobileNav from "components/MobileNav";
---

<div class="sticky z-10 top-0 py-4 w-full mt-10 bg-dark">
  <nav
    class="flex justify-between items-center mx-auto 2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl px-2 sm:px-0"
  >
    <a
      href="/"
      class="ring-4 ring-off-dark px-2 hover:bg-off-dark rounded-lg transition sm:ml-0 ml-2"
    >
      <img
        id="avatar"
        src="/favicon.svg"
        alt="me"
        class=" max-w-[3rem] transition"
      />
    </a>
    <div
      class="line bg-gradient-to-r h-[4px] from-off-dark via-black to-off-dark w-full"
    >
    </div>
    <ul class="sm:flex hidden gap-4 items-center">
      <li
        class="rounded-lg ring-2 ring-off-dark ring-offset-2 ring-offset-transparent py-3"
      >
        <NavButton href="#projects-section">Projects</NavButton>
      </li>
      <li><NavButton>About</NavButton></li>
      <li><NavButton>Blog</NavButton></li>
      <li><PrimaryButton>Contact</PrimaryButton></li>
    </ul>
    <MobileNav client:visible />
  </nav>
</div>

<script>
  // const avatar = document.querySelector("#avatar") as HTMLImageElement;
  // let scrolled;
  // window.onscroll = () => {
  //   scrolled = document.documentElement.scrollTop >= 130;
  //   if (avatar !== null) {
  //     console.log(scrolled);
  //     if (scrolled) {
  //       avatar.classList.remove("max-w-[5rem]");
  //       avatar.classList.add("max-w-[3rem]");
  //     } else {
  //       avatar.classList.remove("max-w-[3rem]");
  //       avatar.classList.add("max-w-[5rem]");
  //     }
  //   }
  // };
</script>
