---
import NavButton from "components/buttons/NavButton";
import MobileNav from "components/MobileNav";
import classNames from "utils/classNames";
import FilledButton from "./buttons/FilledButton";
---

<div class="py-4 w-full mt-10">
  <nav
    id="navbar"
    class="flex justify-between items-center mx-auto 2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl px-2 sm:px-0 -translate-y-32 opacity-0 scale-x-95"
  >
    <a
      href="/"
      aria-label="Home"
      class={classNames(
        "ring-4 p-1 rounded-full transition sm:ml-0 ml-2",
        "ring-outline-light dark:ring-outline-dark focus:ring-outline-light dark:focus:ring-outline-dark",
        "focus:ring-4 focus:outline-none"
      )}
    >
      <img
        id="avatar"
        alt="me"
        src="/Avatar.webp"
        class="sm:max-w-[4rem] max-w-[3rem] transition"
      />
    </a>
    <div
      class={classNames(
        "line bg-gradient-to-r h-[4px] w-full",
        "from-outline-light via-light to-outline-light dark:from-outline-dark dark:via-dark dark:to-outline-dark"
      )}
    >
    </div>
    <ul class="sm:flex hidden gap-4 items-center">
      <li>
        <a
          href="#projects"
          aria-label="Blog"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "ring-4 hover:cursor-pointer ring-outline-light dark:ring-outline-dark",
            "focus:outline-none",
            "hover:bg-off-light dark:hover:bg-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark"
          )}
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="#about"
          aria-label="About section"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "hover:ring-4 hover:cursor-pointer",
            "focus:outline-none focus:ring-4",
            "hover:bg-off-light dark:hover:bg-off-dark hover:ring-off-light dark:hover:ring-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark focus:ring-off-light dark:focus:ring-off-dark"
          )}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="https://filipblog.netlify.app"
          aria-label="Blog"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "hover:ring-4 hover:cursor-pointer",
            "focus:outline-none focus:ring-4",
            "hover:bg-off-light dark:hover:bg-off-dark hover:ring-off-light dark:hover:ring-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark focus:ring-off-light dark:focus:ring-off-dark"
          )}
        >
          Blog
        </a>
      </li>
      <li><FilledButton title="Contact" href="#contact" /></li>
    </ul>
    <MobileNav client:media="(max-width: 768px)" />
  </nav>
</div>
