---
import MobileNav from "components/MobileNav";
import classNames from "utils/classNames";
import FilledButton from "./buttons/FilledButton";
---

<div class="py-4 w-full mt-10">
  <nav
    id="navbar"
    class="flex justify-between items-center mx-auto 2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl px-2 sm:px-0 -translate-y-32 opacity-0 scale-x-95"
  >
    <a
      href="/"
      aria-label="Home"
      class={classNames(
        "ring-4 p-1 rounded-full transition sm:ml-0 ml-2",
        "ring-outline-light dark:ring-outline-dark focus:ring-outline-light dark:focus:ring-outline-dark",
        "focus:ring-4 focus:outline-none"
      )}
    >
      <img
        id="avatar"
        alt="me"
        src="/Avatar.webp"
        class="sm:max-w-[4rem] max-w-[3rem] transition"
      />
    </a>
    <div
      class={classNames(
        "line bg-gradient-to-r h-[4px] w-full",
        "from-outline-light via-light to-outline-light dark:from-outline-dark dark:via-dark dark:to-outline-dark"
      )}
    >
    </div>
    <ul class="sm:flex hidden gap-4 items-center">
      <li>
        <a
          href="#projects"
          aria-label="Projects Section"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "ring-4 hover:cursor-pointer ring-outline-light dark:ring-outline-dark",
            "focus:outline-none",
            "hover:bg-off-light dark:hover:bg-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark"
          )}
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="#about"
          aria-label="About Section"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "hover:ring-4 hover:cursor-pointer",
            "focus:outline-none focus:ring-4",
            "hover:bg-off-light dark:hover:bg-off-dark hover:ring-off-light dark:hover:ring-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark focus:ring-off-light dark:focus:ring-off-dark"
          )}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="https://filipblog.netlify.app"
          aria-label="Blog"
          class={classNames(
            "py-3 px-6 transition rounded-full",
            "hover:ring-4 hover:cursor-pointer",
            "focus:outline-none focus:ring-4",
            "hover:bg-off-light dark:hover:bg-off-dark hover:ring-off-light dark:hover:ring-off-dark",
            "focus:bg-off-light dark:focus:bg-off-dark focus:ring-off-light dark:focus:ring-off-dark"
          )}
        >
          Blog
        </a>
      </li>
      <li><FilledButton title="Contact" href="#contact" /></li>
      <li>
        <a
          href="https://www.linkedin.com/in/filip-ivanovic-60ab98242"
          aria-label="LinkedIn"
          class={classNames(
            "rounded-full p-3 transition flex justify-center items-center",
            "hover:bg-on-surface-light dark:hover:bg-on-surface-dark hover:bg-opacity-[8%] dark:hover:bg-opacity-[8%]",
            "focus:bg-on-surface-light dark:focus:bg-on-surface-dark focus:bg-opacity-[12%] focus:outline-none dark:focus:bg-opacity-[12%]"
          )}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 fill-on-light dark:fill-on-dark"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/alkanoidev"
          aria-label="GitHub"
          class={classNames(
            "rounded-full p-3 transition flex justify-center items-center",
            "hover:bg-on-surface-light dark:hover:bg-on-surface-dark hover:bg-opacity-[8%] dark:hover:bg-opacity-[8%]",
            "focus:bg-on-surface-light dark:focus:bg-on-surface-dark focus:bg-opacity-[12%] focus:outline-none dark:focus:bg-opacity-[12%]"
          )}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 fill-on-light dark:fill-on-dark"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
    <MobileNav client:media="(max-width: 768px)" />
  </nav>
</div>
