---
import OutlinedButton from "./buttons/OutlinedButton";
import NavButton from "components/buttons/NavButton";
import MobileNav from "components/MobileNav";
import classNames from "utils/classNames";
---

<div class="py-4 w-full mt-10">
  <nav
    id="navbar"
    class="flex justify-between items-center mx-auto 2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl px-2 sm:px-0 -translate-y-32 opacity-0 scale-x-95"
  >
    <a
      href="/"
      aria-label="Home"
      class={classNames(
        "ring-4 ring-off-dark p-1 rounded-full transition sm:ml-0 ml-2",
        "hover:scale-105 focus:scale-105 focus:ring-4 focus:ring-zinc-700 focus:outline-none"
      )}
    >
      <img
        id="avatar"
        alt="me"
        src="/Avatar.webp"
        class="sm:max-w-[4rem] max-w-[3rem] transition"
      />
    </a>
    <div
      class="line bg-gradient-to-r h-[4px] from-off-dark via-dark to-off-dark w-full"
    >
    </div>
    <ul class="sm:flex hidden gap-4 items-center">
      <li
        class="rounded-full ring-2 ring-off-dark ring-offset-2 ring-offset-transparent py-3"
      >
        <NavButton href="#projects">Projects</NavButton>
      </li>
      <li><NavButton href="#about">About</NavButton></li>
      <li><NavButton href="https://filipblog.netlify.app">Blog</NavButton></li>
      <li><OutlinedButton title="Contact" href="#contact" /></li>
    </ul>
    <MobileNav client:media="(max-width: 640px)" />
  </nav>
</div>
