---
import PrimaryButton from "components/buttons/PrimaryButton";
import NavButton from "components/buttons/NavButton";
import MobileNav from "components/MobileNav";
---

<div class="sticky z-10 top-0 py-4 w-full mt-10 bg-dark">
  <nav
    class="flex justify-between items-center mx-auto 2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl px-2 sm:px-0"
  >
    <a
      href="/"
      class="ring-4 ring-off-dark p-1 rounded-full hover:bg-off-dark transition sm:ml-0 ml-2"
    >
      <img
        id="avatar"
        src="/Avatar.png"
        alt="me"
        class="sm:max-w-[4rem] max-w-[3rem] transition"
      />
    </a>
    <div
      class="line bg-gradient-to-r h-[4px] from-off-dark via-black to-off-dark w-full"
    >
    </div>
    <ul class="sm:flex hidden gap-4 items-center">
      <li
        class="rounded-lg ring-2 ring-off-dark ring-offset-2 ring-offset-transparent py-3"
      >
        <NavButton href="#projects">Projects</NavButton>
      </li>
      <li><NavButton href="#about-section">About</NavButton></li>
      <li><NavButton href="https://filipblog.netlify.app">Blog</NavButton></li>
      <li><PrimaryButton href="#contact-section">Contact</PrimaryButton></li>
    </ul>
    <MobileNav client:visible />
  </nav>
</div>
