---
import FilledButton from "components/buttons/FilledButton";
import OutlinedButton from "components/buttons/OutlinedButton";
import classNames from "utils/classNames";

import CreatureCard from "components/CreatureCard";
import SelfLearner from "components/_creatures/SelfLearner.astro";
import Passionate from "components/_creatures/Passionate.astro";
import Creativity from "components/_creatures/Creativity.astro";
---

<div
  class="h-full w-full flex flex-col justify-center items-center mt-24 md:px-0 px-1"
  id="about"
>
  <div class="flex md:flex-row flex-col w-full max-w-5xl justify-center gap-4">
    <div
      class={classNames(
        "w-full md:w-2/3 flex flex-col gap-5 rounded-4xl md:rounded-5xl md:p-8 p-6",
        "bg-surface-light text-on-surface-light dark:bg-surface-dark dark:text-on-surface-dark",
        "box opacity-0 scale-95"
      )}
    >
      <h1 class={classNames("text-3xl md:text-4xl font-bold")}>About</h1>
      <h2 class="text-xl md:text-2xl">
        I’m Filip, a passionate and creative individual who thrives on
        self-learning and exploring new ideas.
      </h2>
      <div class="space-y-7 text-base md:text-lg">
        <p
          class={classNames(
            "text-on-surface-light dark:text-on-surface-dark/70"
          )}
        >
          My passion for self-learning, creativity, and exploration drives me to
          constantly seek out new experiences and push the boundaries of my own
          potential. I am excited to embark on new adventures, collaborate with
          like-minded individuals, and contribute my unique perspectives and
          talents to the world around me.
        </p>
        <p
          class={classNames(
            "text-on-surface-light dark:text-on-surface-dark/70"
          )}
        >
          I'm constantly seeking ways to expand my knowledge and push the
          boundaries of my understanding. I find immense joy in the process of
          acquiring new skills and discovering innovative concepts.
        </p>
      </div>
      <div>
        <h3 class="text-lg md:text-xl">Tools & Technologies</h3>
        <ul class="flex flex-wrap items-center gap-3 pb-4 mt-4">
          {
            [
              "JavaScript",
              "TypeScript",
              "React",
              "NextJS",
              "TailwindCSS",
              "SASS",
              "PHP",
              "Laravel",
              "MySQL",
              "Git",
              "Android",
              "Java",
            ].map((technology) => (
              <li
                class={classNames(
                  "text-on-surface-light dark:text-on-surface-dark text-sm",
                  "ring-2 ring-outline-light dark:ring-outline-dark ring-opacity-70 dark:ring-opacity-70",
                  "px-2 py-1 rounded-full"
                )}
              >
                {technology}
              </li>
            ))
          }
        </ul>
      </div>

      <div class="flex justify-center items-center md:max-w-fit gap-4 mt-auto">
        <FilledButton title="Contact">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-6 h-6 stroke-on-primary-light dark:stroke-on-primary-dark"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"
            ></path>
          </svg>
        </FilledButton>
        <OutlinedButton title="Resume">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-6 h-6 stroke-primary-light dark:stroke-primary-dark"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"
            ></path>
          </svg>
        </OutlinedButton>
      </div>
    </div>
    <div
      class="creatures w-full md:w-1/3 flex md:flex-col flex-row md:gap-4 gap-2 justify-evenly"
    >
      <CreatureCard title="Passionate">
        <Passionate />
      </CreatureCard>
      <CreatureCard title="Creative">
        <Creativity />
      </CreatureCard>
      <CreatureCard title="Self-Learner">
        <SelfLearner />
      </CreatureCard>
    </div>
  </div>
</div>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const scrollTriggerEl = document.getElementById("about");
  const ctx = gsap.context(() => {
    gsap.to(".box", {
      opacity: 1,
      scale: 1,
      ease: "power1.easeIn",
      duration: 0.5,
      scrollTrigger: {
        trigger: scrollTriggerEl,
        start: "top 80%",
      },
      stagger: {
        amount: 1,
      },
    });
  }, "#about");
</script>
