---
import Arrow from "components/Arrow.astro";
---

<div
  class="w-full h-[calc(100vh-100px)] flex items-center justify-center flex-col"
  id="home"
>
  <h1 class="text sm:text-6xl text-3xl text-center font-bold">
    <span class="word opacity-0">Get to know</span>
    <span class="word opacity-0">Filip,</span>
    <br class="sm:hidden block" />
    <span class="word opacity-0">your next</span>
    <br />
    <span
      class="gradient-head word opacity-0 text-transparent font-bold bg-cover"
    >
      Front-end Developer
    </span>
  </h1>
  <Arrow />
</div>

<style>
  .gradient-head {
    @apply text-transparent font-bold
         bg-gradient-to-r from-sky-700 via-emerald-700 to-sky-700
         bg-clip-text bg-[200%_auto];
    animation: shine 2s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const timeline = gsap.timeline({
    delay: 0.5,
  });
  timeline.to(".word", {
    duration: 0.3,
    opacity: 1,
    ease: "power2.easeOut",
    stagger: {
      amount: 1,
    },
  });

  timeline.to("#navbar", {
    duration: 0.3,
    scaleX: 1,
    y: 0,
    opacity: 1,
    ease: "power2.easeOut",
    stagger: {
      amount: 1,
    },
  });

  gsap.context(() => {
    timeline.fromTo(
      document.querySelectorAll(".circle"),
      {
        duration: 1,
        fill: "none",
        ease: "power1.inOut",
        opacity: 0,
        stagger: {
          amount: 1,
        },
      },
      {
        duration: 1,
        fill: "#3f3f46",
        ease: "power1.inOut",
        opacity: 1,
        stagger: {
          amount: 1,
        },
      }
    );
    timeline.fromTo(
      document.querySelectorAll(".circle"),
      {
        duration: 1,
        ease: "power1.inOut",
        opacity: 1,
        stagger: {
          amount: 1,
        },
      },
      {
        duration: 1,
        ease: "power1.inOut",
        opacity: 0.2,
        stagger: {
          amount: 1,
        },
      }
    );
    timeline.fromTo(
      document.querySelectorAll(".circle"),
      {
        duration: 1,
        opacity: 0.2,
        ease: "power1.inOut",
        stagger: {
          amount: 1,
        },
      },
      {
        duration: 1,
        opacity: 1,
        ease: "power1.inOut",
        stagger: {
          amount: 1,
        },
      }
    );
  }, "#arrow");
</script>
