---
import classNames from "utils/classNames";
import projectsData from "../data/projects.json";
import ProjectCard from "components/ProjectCard";
import Link from "components/Link";
---

<div
  id="projects"
  class={classNames(
    "mt-52 h-full flex flex-col justify-center items-center sm:px-0 px-2 relative"
  )}
>
  <h1
    class="text-4xl sm:text-5xl font-bold text-on-primary-box-light dark:text-on-primary-box-dark"
  >
    Projects
  </h1>
  <p
    class="text-2xl sm:text-3xl text-on-primary-box-light dark:text-on-primary-box-dark text-center mt-5"
  >
    Things I’ve made trying to put my dent in the universe.
  </p>
  <div
    class="projects w-full flex flex-col flex-wrap justify-center gap-24 mt-10"
  >
    {projectsData.map((project) => <ProjectCard {...project} />)}
  </div>

  <p class="text-on-primary-box-light dark:text-on-primary-box-dark mt-5">
    <Link href="https://github.com/alkanoidev">
      check out my other projects on github.
    </Link>
  </p>
</div>

<script>
  const target = document.querySelector("#projects") as HTMLElement;
  function callback(
    entries: IntersectionObserverEntry[],
    _observer: IntersectionObserver
  ) {
    entries.map((entry) => {
      if (entry.isIntersecting) {
        document.body.classList.remove("bg-light");
        document.body.classList.remove("dark:bg-dark");

        document.body.classList.add("dark:bg-deep-sky");
        document.body.classList.add("bg-deep-sky-light");
      } else {
        document.body.classList.remove("dark:bg-deep-sky");
        document.body.classList.remove("bg-deep-sky-light");

        document.body.classList.add("bg-light");
        document.body.classList.add("dark:bg-dark");
      }
    });
  }
  const observer = new IntersectionObserver(callback, {
    root: null,
    threshold: 0.5,
  });
  observer.observe(target);
</script>
