---
import classNames from "utils/classNames";
import projectsData from "../data/projects.json";
import ProjectCard from "components/ProjectCard";
import Link from "components/Link";
---

<div
  id="projects"
  class={classNames(
    "mt-52 h-full flex flex-col justify-center items-center sm:px-0 px-2 relative"
  )}
>
  <svg
    aria-hidden="true"
    width="100%"
    height="8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute top-0 w-[calc(100vw-20px)]"
  >
    <pattern id="a" width="91" height="8" patternUnits="userSpaceOnUse">
      <g clip-path="url(#clip0_2426_11367)">
        <path
          d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0"
          class="dark:stroke-primary-box-dark stroke-primary-box-light stroke-2"
          stroke-linecap="square"></path>
      </g>
    </pattern>
    <rect width="100%" height="100%" fill="url(#a)"></rect>
  </svg>
  <h1
    class="text-4xl sm:text-5xl font-bold text-on-primary-box-light dark:text-on-primary-box-dark mt-12"
  >
    Projects
  </h1>
  <p
    class="text-2xl sm:text-3xl text-on-primary-box-light dark:text-on-primary-box-dark text-center mt-5"
  >
    Things I’ve made trying to put my dent in the universe.
  </p>
  <div
    class="projects w-full flex flex-col flex-wrap justify-center gap-24 mt-10"
  >
    {projectsData.map((project) => <ProjectCard {...project} />)}
  </div>

  <p class="text-on-primary-box-light dark:text-on-primary-box-dark mt-5 mb-12">
    <Link href="https://github.com/alkanoidev">
      check out my other projects on github.
    </Link>
  </p>

  <svg
    aria-hidden="true"
    width="100%"
    height="8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute bottom-0 w-[calc(100vw-20px)]"
  >
    <pattern id="a" width="91" height="8" patternUnits="userSpaceOnUse">
      <g clip-path="url(#clip0_2426_11367)">
        <path
          d="M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0"
          class="dark:stroke-primary-box-dark stroke-primary-box-light stroke-2"
          stroke-linecap="square"></path>
      </g>
    </pattern>
    <rect width="100%" height="100%" fill="url(#a)"></rect>
  </svg>
</div>

<script>
  const element = document.querySelector("#projects") as HTMLElement;
  const handleScroll = () => {
    let elementTop = element.offsetTop;
    let elementBottom = elementTop + element.clientHeight;

    const isElementInViewPort =
      elementTop < window.scrollY + window.innerHeight &&
      elementBottom > window.scrollY;

    if (isElementInViewPort) {
      document.body.classList.remove("bg-light");
      document.body.classList.remove("dark:bg-dark");

      document.body.classList.add("dark:bg-deep-sky");
      document.body.classList.add("bg-deep-sky-light");
    } else {
      document.body.classList.remove("dark:bg-deep-sky");
      document.body.classList.remove("bg-deep-sky-light");

      document.body.classList.add("bg-light");
      document.body.classList.add("dark:bg-dark");
    }
  };
  window.addEventListener("scroll", handleScroll);
</script>
