---
import Navbar from "components/navbars/Navbar.astro";
import Footer from "components/Footer.astro";
import "../styles/global.css";
---

<Navbar />
<div
  class="2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl mx-auto"
>
  <slot />

  <Footer />
</div>
