---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  * {
    @apply text-white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color-scheme: dark;
  }
  html{
    @apply scroll-pt-32;
  }
  body {
    @apply bg-dark;
  }

</style>
